<div>
  <h2>Filter Options</h2>
  <mat-slide-toggle  [(ngModel)]="filter.curtains"><i class="material-icons">wb_sunny</i></mat-slide-toggle>
  <mat-slide-toggle  [(ngModel)]="filter.light"><i class="material-icons">lightbulb_outline</i></mat-slide-toggle>  
  <mat-slide-toggle  [(ngModel)]="filter.music"><i class="material-icons">music_note</i></mat-slide-toggle>    
  <mat-slide-toggle  [(ngModel)]="filter.temperature"><i class="material-icons">ac_unit</i></mat-slide-toggle>   
  <mat-slide-toggle  [(ngModel)]="filter.name"><i class="material-icons">border_color</i></mat-slide-toggle>        
</div>